<!doctype html>
<html>

<head>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {{#each jsscripts}}
    <script src="/static/{{this}}"></script>
    {{/each}}
</head>

<body class="blue-grey lighten-5">
    {{{body}}}
</body>

</html>